.modal-backdrop{
    height: 100%;
    width: 100%;
}
.modal{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    max-width: 100vw;

    .track_div{
        width: 100%;
        display: flex;
        align-items: center;

        .btn{
            margin-left: auto;
            color: $red;

            &:hover{
                color: $dark_grey;
            }
        }
    }
}